.skill-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    min-width: 500px;
    margin:0 auto;
}
.skillitem{

    width:33%;
}
.skillitem img{
    width:60%;
}
.skill-container{
    margin-top: 100px;
}