@charset "UTF-8";
/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc-dsp {
  display: block !important;
}

.sp-dsp {
  display: none !important;
}

/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 750px) {
  .pc-dsp {
    display: none !important;
  }
  .sp-dsp {
    display: block !important;
  }
}

/*/////////////////////////color///////////////*/
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-size: 16px;
  color: #333;
  font-family: "ヒラギノ明朝 ProN","serif";
  line-height: 1.6875;
}

img {
  width: 100%;
}

header {
  background: #fff;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 3px 6px #eee;
}

.header-inner {
  max-width: 1200px;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.header-logo {
  font-size: 50px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .header-logo {
    font-size: 25px;
  }
}

.header-menu-items {
  display: flex;
  margin: 0;
}

.header-menu-item {
  padding: 0 20px;
  font-size: 20px;
}

.header-menu-item:hover {
  background: #3EA1D1;
  opacity: 0.7;
}

.header-menu-link {
  display: block;
  color: #333;
  height: 80px;
  line-height: 80px;
}

.inner {
  padding: 0 40px;
  max-width: 1080px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .menu-top {
    opacity: 0;
    transform: translate(0, 50px);
    transition: all 1s;
  }
}

@media screen and (min-width: 768px) {
  .menu-top.fadeIn {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.section-title {
  letter-spacing: 10px;
  text-align: center;
  padding-bottom: 50px;
  font-size: 40px;
}

@media screen and (max-width: 767px) {
  .section-title {
    padding-bottom: 0;
  }
}

.section-title:after {
  content: "";
  display: block;
  border-bottom: 1px solid #3EA1D1;
  top: 0;
  height: 1px;
  width: 80px;
  margin: 0 auto;
}

/* top */
.top {
  max-width: 1200px;
  height: 700px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .top {
    height: 300px;
  }
}

.slider-items {
  margin-top: 100px;
}

.slider-items {
  position: relative;
  max-width: 1200px;
}

.slider-items img {
  position: absolute;
  max-height: 600px;
  width: 100%;
  top: 0;
  left: 0;
}

@media screen and (max-width: 767px) {
  .slider-items img {
    height: 300px;
  }
}

/* menu */
.menu-item {
  position: relative;
  overflow: hidden;
  max-width: 340px;
}

@media screen and (min-width: 768px) {
  .menu-item {
    width: 33%;
  }
}

@media screen and (max-width: 767px) {
  .menu-item {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .menu-items-list {
    padding: 0;
  }
}

.menu-item img {
  max-width: 340px;
  height: 240px;
}

.menu-item img:hover {
  opacity: 0.5;
  transition: 1s all;
  transform: scale(1.2, 1.2);
}

.menu-items-list {
  display: flex;
  flex-wrap: wrap;
}

.menu-item-title {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  color: #fff;
  font-size: 40px;
}

/* about */
.about {
  background: #F0E8DD;
  padding: 50px;
}

@media screen and (max-width: 767px) {
  .about {
    padding: 0 20px 30px 40px;
  }
}

.about-right img {
  max-width: 700px;
  max-height: 500px;
  display: block;
}

.about-right img:after {
  content: "";
  width: 400px;
  height: 200px;
  background: pink;
  bottom: -80%;
  left: -30%;
  display: block;
  position: relative;
}

.about-right {
  color: #fff;
}

.about-inner {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 767px) {
  .about-inner {
    align-items: center;
    display: block;
  }
}

.about-left {
  opacity: 0;
  transform: translateX(0, 50px);
  transition: all 3s;
  padding-right: 30px;
}

@media screen and (max-width: 767px) {
  .about-left {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .about-left-text {
    text-align: center;
  }
}

.about-left-title {
  font-size: 26px;
  padding-top: 30px;
}

@media screen and (max-width: 767px) {
  .about-left-title {
    font-size: 17px;
  }
}

.about-left.active {
  opacity: 1;
  transform: translate(0, 0);
}

.about-left-text {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .about-left-text {
    font-size: 15px;
  }
}

/* news */
.news {
  background: #F0E8DD;
  padding-top: 20px;
  padding-bottom: 50px;
}

.news-item-list {
  border-bottom: 1px solid #3EA1D1;
  padding-top: 30px;
  padding-bottom: 20px;
}

.news-item-list a {
  display: flex;
}

@media screen and (max-width: 767px) {
  .news-item-list a {
    align-items: center;
  }
}

.news-item-body dt {
  margin-left: 40px;
  padding-bottom: 20px;
}

.news-items {
  padding: 20px 40px;
}

@media screen and (min-width: 768px) {
  .news-items {
    border: 1px solid #3EA1D1;
  }
}

@media screen and (max-width: 767px) {
  .news-items {
    padding: 0;
  }
  .news-items:nth-child(3) {
    display: none;
  }
}

.bottom-btn {
  background: #3EA1D1;
  text-align: center;
  max-width: 200px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  margin-top: 70px;
  box-shadow: 1px 3px 3px #000;
}

.bottom-btn a {
  display: block;
  color: #fff;
  font-size: 20px;
  letter-spacing: 5px;
}

.bottom-btn:hover {
  background: #fff;
  border: 1px solid #3EA1D1;
  transition: all 0.5s;
}

.bottom-btn:hover a {
  color: #3EA1D1;
}

/* access */
@media screen and (min-width: 768px) {
  .access-body {
    display: flex;
    justify-content: space-around;
  }
}

.access-left-item dt {
  float: left;
  padding-right: 40px;
}

.access-left-title {
  opacity: 0;
  transition: all 2s;
  transform: translate(0, 50);
}

.access-left-text {
  padding-left: 63px;
}

.access-left-title.active {
  opacity: 1;
  transform: translate(0, 0);
  color: red;
}

@media screen and (max-width: 767px) {
  .access-left {
    justify-content: space-around;
  }
}

@media screen and (max-width: 767px) {
  .access-right iframe {
    width: 100%;
  }
}

footer {
  background: #F0E8DD;
  height: 100px;
  margin-top: 60px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer-inner {
    padding: 18px 0;
  }
}

.footer-left {
  font-size: 30px;
  padding: 30px 40px;
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .footer-left {
    padding: 0;
    font-size: 20px;
  }
}

.footer-right {
  padding: 10px 40px;
}

@media screen and (max-width: 767px) {
  .footer-right {
    padding: 0;
  }
}

.footer-right p {
  font-size: 20px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .footer-right p {
    font-size: 11px;
  }
}

.footer-right span {
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .footer-right span {
    font-size: 20px;
  }
}

.red {
  color: red;
  padding-right: 10px;
}

/* menuページ */
.menu-detail {
  padding-top: 100px;
}

.menu-detail-title i {
  color: #3EA1D1;
}

.section-title-child {
  letter-spacing: 10px;
  text-align: center;
  padding-bottom: 50px;
  font-size: 40px;
}

.section-title-child:after {
  content: "";
  display: block;
  border-bottom: 1px solid #3EA1D1;
  top: 0;
  height: 1px;
  width: 80px;
  margin: 0 auto;
}

.section-title-child p {
  text-align: center;
  display: block;
  width: 800px;
  margin: 0 auto;
}

.menu-detail-title {
  text-align: center;
}

.menu-detail-title img {
  max-width: 250px;
}

.menu-detail-items {
  background: #F0E8DD;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 40px;
  text-align: center;
  margin-bottom: 50px;
}

.menu-detail-item {
  width: 50%;
}

nav.globalMenuSp {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: #fff;
  color: #000;
  text-align: center;
  transform: translateX(100%);
  transition: all 0.6s;
  width: 100%;
}

nav.globalMenuSp ul {
  background: #ccc;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  font-size: 1.1em;
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px dotted #333;
}

nav.globalMenuSp ul li:hover {
  color: #3EA1D1;
}

/* 最後はラインを描かない */
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #000;
  padding: 1em 0;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  transform: translateX(0%);
}

.navToggle {
  display: block;
  position: fixed;
  /* bodyに対しての絶対位置指定 */
  right: 13px;
  top: 12px;
  width: 42px;
  height: 51px;
  cursor: pointer;
  z-index: 3;
  background: #666;
  text-align: center;
}

.navToggle span {
  display: block;
  position: absolute;
  /* .navToggleに対して */
  width: 30px;
  border-bottom: solid 3px #eee;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  left: 6px;
}

.navToggle span:nth-child(1) {
  top: 9px;
}

.navToggle span:nth-child(2) {
  top: 18px;
}

.navToggle span:nth-child(3) {
  top: 27px;
}

.navToggle span:nth-child(4) {
  border: none;
  color: #eee;
  font-size: 9px;
  font-weight: bold;
  top: 34px;
}

/* 最初のspanをマイナス45度に */
.navToggle.active span:nth-child(1) {
  top: 18px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* 2番目と3番目のspanを45度に */
.navToggle.active span:nth-child(2),
.navToggle.active span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
