@charset "utf-8";

//マップ型変数breakpointsを定義

$breakpoints: (
//キー　　値
 'sm': 'screen and (max-width: 767px)', //767px以下（スマホ）用の表示
 'md': 'screen and (min-width: 768px)' //768px以上（タブレット・PC）用の表示
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

  

/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc-dsp { display: block !important; }
.sp-dsp { display: none !important; }
 
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 750px) {
    .pc-dsp { display: none !important; }
    .sp-dsp { display: block !important; }
}
/*/////////////////////////color///////////////*/
$primary-color : #3EA1D1;
$font-color :#333; 

@include mq(sm){
    .is-pc{
        display:none;
    }
}
@include mq(md){
    .is-sp{
        display:none;
    }
}

a{
    text-decoration: none;
}
ul{
    list-style:none;
}

body{
    font-size:16px;
    color:$font-color;
    font-family: "ヒラギノ明朝 ProN","serif";
    line-height: 1.6875;
}

img{
    width:100%;
}

header{
   background: #fff;
   z-index: 10;
   position:fixed;
   top:0;
   left:0;
   right:0;
   box-shadow:0 3px 6px #eee;
  
}

.header-inner{
    max-width:1200px;
    padding:10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:70px;
    
}

.header-logo{
    font-size:50px;
    font-weight: bold;
    @include mq(sm){
        font-size:25px;
    }
}

.header-menu-items{
    display:flex;
    margin:0;
}


.header-menu-item{
    padding:0 20px;
    font-size:20px;
    &:hover{
        background: $primary-color;
        opacity:0.7;
    }
  
}

.header-menu-link{
    display: block;
    color:#333;
    height:80px;
    line-height: 80px;
}



.inner{
    padding:0 40px;
    max-width:1080px;
    margin:0 auto;
}

// .space{
//    margin-top: 100px;
//    @include mq(sm){
//     margin-top: 0;
// }   
// }

.menu-top{
    @include mq(md){

        opacity:0;
        transform: translate(0,50px);
        transition: all 1s;
    }
  }
  
  .menu-top.fadeIn{
    @include mq(md){

        opacity:1;
        transform: translate(0,0);
    }
  }
  


.section-title{
    letter-spacing: 10px;
    text-align: center;
    padding-bottom: 50px;
    font-size:40px;
        @include mq(sm){
            padding-bottom: 0;
    }   

    &:after{
        content: "";
        display: block;
        border-bottom: 1px solid $primary-color;
        top:0;
        height:1px;
        width:80px;
        margin:0 auto;
    }
}





/* top */
.top{
    max-width:1200px;
    height:700px;
    margin:0 auto;
    @include mq(sm){
        height:300px;
    }   
}
.slider-items{
    margin-top: 100px;
}
.slider-items{
    position: relative;
    max-width:1200px;
    @include mq(sm){
        // width:80%;
    } 

}
.slider-items img{
    position: absolute;
    max-height:600px;
    width:100%;
    top:0;
    left:0;
    @include mq(sm){
        height:300px;
    } 
}



/* menu */
.menu-item{

    @include mq(md){
        width:33%;
    }
    @include mq(sm){
        width:50%;
    }
   position: relative;
   overflow:hidden;
   max-width:340px;
}
.menu-items-list {
    @include mq(sm){
        padding: 0;
     } 
}

.menu-item img{
    max-width:340px;
    height:240px;
    &:hover{
        opacity:0.5;
        transition:1s all;
        transform: scale(1.2,1.2);
    }
}

.menu-items-list{
    display: flex;
    flex-wrap: wrap;

}

.menu-item-title{
    position: absolute;
    top:50%;
    transform: translate(-50%,-50%);
    left:50%;
    color:#fff;
    font-size:40px;
}





/* about */

.about{
    background: #F0E8DD;
    padding:50px;
    @include mq(sm){
       padding:0 20px 30px 40px;
    }   
}
.about-right img{
    max-width:700px;
    max-height:500px;
    display: block;
    &:after{
        content:"";
        width:400px;
        height:200px;
        background: pink;
        bottom:-80%;
        left:-30%;
        display: block;
        position: relative;
    }
}
.about-right{
    color:#fff;
   
  
}
.about-inner{
    display: flex;
    justify-content: space-around;
    @include mq(sm){
        align-items: center;
        display: block;
    }
}

.about-left{
    opacity:0;
    transform:translateX(0,50px);
    transition: all 3s;
    padding-right: 30px;
    @include mq(sm){
        padding:0;
        }   

}
.about-left-text{
    @include mq(sm){
        text-align: center;
    }
}
.about-left-title{
    font-size:26px;
    @include mq(sm){
        font-size:17px;
    }
    padding-top: 30px;

}
    
.about-left.active{
    opacity: 1;
    transform: translate(0,0);
    

}
.about-left-text{
    text-align: center;
    @include mq(sm){
        font-size:15px;
    }

}


/* news */
.news{
    background: #F0E8DD;
    padding-top: 20px;
    padding-bottom: 50px;
}

.news-item-list {
    border-bottom: 1px solid $primary-color ;
    padding-top: 30px;
    padding-bottom: 20px;
    a{
    display: flex;
    @include mq(sm){
        align-items: center;
    }
    }
}
.news-item-body dt{
    margin-left: 40px;
    padding-bottom: 20px;
}

.news-items{
    @include mq(md){
        border: 1px solid $primary-color ;
    }
    @include mq(sm){
        padding:0;
        &:nth-child(3){
            display: none;
        }
    }

    padding:20px 40px ;
}

.bottom-btn{
    background: $primary-color;
    text-align: center;
    max-width:200px;
    height:60px;
    line-height:60px;
    margin:0 auto;
    margin-top: 70px;
    box-shadow:1px 3px 3px #000;
    
    a{
        display: block;
        color:#fff;
        font-size:20px;
        letter-spacing: 5px;
    }

    &:hover{
        background: #fff;
        border:1px solid $primary-color;
        transition:all 0.5s;
        a{
            color:$primary-color;


        }
    }


}

/* access */
.access-body{
    @include mq(md){
       display: flex;
        justify-content: space-around;

    }
   
}

.access-left-item dt{
    float:left;
    padding-right: 40px;
}

.access-left-title{
    opacity:0;
    transition:all 2s;
    transform: translate(0,50);
}

.access-left-text{
    padding-left: 63px;
}
.access-left-title.active{
    opacity:1;
    transform: translate(0,0);
    color:red;
}

.access-left{
    @include mq(sm){
      
        justify-content: space-around;

    }
}
.access-right iframe{
    @include mq(sm){
        width:100%;
    }
}

footer{
    background: #F0E8DD;
    height:100px;
    margin-top: 60px;
}
.footer-inner{
    display: flex;
    justify-content: space-between;
    @include mq(sm){
        padding:18px 0;
    }    
}

.footer-left{
    font-size:30px;
    padding:30px 40px;
    margin-left: 20px;
    @include mq(sm){
        padding: 0;
        font-size:20px;
    }   
}

.footer-right {
    padding:10px 40px;
    @include mq(sm){
        padding: 0;
    }   
    p{
        font-size:20px;
        margin:0;
        @include mq(sm){
           font-size:11px;
          
        }   
    }
    span{
        font-size:30px;
        @include mq(sm){
            font-size:20px;
        }   
        
    }
}
.red{
    color:red;
    padding-right: 10px;
}

/* menuページ */
.menu-detail{
    padding-top: 100px;
}
.menu-detail-title i{
    color:$primary-color;
}
.section-title-child{
    letter-spacing: 10px;
    text-align: center;
    padding-bottom: 50px;
    font-size:40px;

    &:after{
        content: "";
        display: block;
        border-bottom: 1px solid $primary-color;
        top:0;
        height:1px;
        width:80px;
        margin:0 auto;
    }
    p{
        text-align: center;
        display: block;
        width:800px;
        margin:0 auto;
    }
}

.menu-detail-title{
    text-align: center;
   
 img{
    max-width:250px;
   
}
}
.menu-detail-items{
    background: #F0E8DD;
    display: flex;
    flex-wrap: wrap;
    padding:30px 40px ;
    text-align: center;
    margin-bottom: 50px;
   
}
.menu-detail-item{
   width:50%;
}







// navmenu



nav.globalMenuSp {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: #fff;
    color: #000;
    text-align: center;
    transform: translateX(100%);
    transition: all 0.6s;
    width: 100%;
}
 
nav.globalMenuSp ul {
    background: #ccc;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
 
nav.globalMenuSp ul li {
    font-size: 1.1em;
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px dotted #333;
    &:hover{
        color:#3EA1D1
    }
}
 
/* 最後はラインを描かない */
nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
 
nav.globalMenuSp ul li a {
    display: block;
    color: #000;
    padding: 1em 0;
}
 
/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
    transform: translateX(0%);
}
.navToggle {
    display: block;
    position: fixed;    /* bodyに対しての絶対位置指定 */
    right: 13px;
    top: 12px;
    width: 42px;
    height: 51px;
    cursor: pointer;
    z-index: 3;
    background: #666;
    text-align: center;
}
 
.navToggle span {
    display: block;
    position: absolute;    /* .navToggleに対して */
    width: 30px;
    border-bottom: solid 3px #eee;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    left: 6px;
}
 
.navToggle span:nth-child(1) {
    top: 9px;
}
 
.navToggle span:nth-child(2) {
    top: 18px;
}
 
.navToggle span:nth-child(3) {
    top: 27px;
}
 
.navToggle span:nth-child(4) {
    border: none;
    color: #eee;
    font-size: 9px;
    font-weight: bold;
    top: 34px;
}
/* 最初のspanをマイナス45度に */
.navToggle.active span:nth-child(1) {
    top: 18px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
 
/* 2番目と3番目のspanを45度に */
.navToggle.active span:nth-child(2),
.navToggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}







